<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Day_57 web page excersice.">
    <meta name="keywords"
          content="python, django, programming, web development, coding tutorials">
    <title>Document</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <h2>{{ 5*6 }}</h2>
    <h3>Random Number: {{ number }}</h3>
    <a href='{{ url_for("url_blog", number=3) }}'>Go to Blog</a>
    <footer>
      <p>© Copyright {{ year }}. Built by Rafael Morales Gallegos</p>
    </footer>
  </body>
</html>
