<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Show result of secret search">
    <meta name="keywords" content="answers, tutorial, wtform">
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <div class="container">
      <h1>
        {% block h1 %}
        {% endblock h1 %}
      </h1>
      {% block item_frame %}
      {% endblock item_frame %}
    </div>
  </body>
</html>
