<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Page to acces the secret using username and password">
    <meta name="keywords" content="answers, tutorial, wtform">
    {% block styling %}
      <!-- Bootstrap CSS -->
      {{ bootstrap.load_css() }}
    {% endblock styling %}
    <title>
      {% block title %}
      {% endblock title %}
    </title>
  </head>
  <body>
    <div class="container">
      <h1>
        {% block h1 %}
        {% endblock h1 %}
      </h1>
      {% block content %}
      {% endblock content %}
    </div>
    {% block scripts %}
      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    {% endblock scripts %}
  </body>
</html>
