<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Dictionary of Books SQL">
    <meta name="keywords" content="Dictonary, Books, SQL, python">
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if all_books == [] %}
      <b>Library is empty</b>
    {% else %}
      <ul>
        {% for book in all_books %}
          <li>
            <b>
              {{ book['title'] }} - {{ book['author'] }} - {{ book['rating'] }}/10
            </b>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <br>
    <a href='{{ url_for("add") }}'>Add New Book</a>
  </body>
</html>
